<?xml version="1.0"?>
<!-- {{ ansible_managed }} -->
<yandex>
  <remote_servers>
{% for cluster_name, cluster in clickhouse_clusters.items() %}
    <{{ cluster_name }}>
{% for shard in cluster %}
        <shard>
          <internal_replication>true</internal_replication>
{% for replica in shard %}
          <replica>
            <host>{{ replica['host'] }}</host>
            <port>{{ replica['port'] | default(9000) }}</port>
            {% if clickhouse_replication_user: %}
              <user>{{ clickhouse_replication_user }}</user>
              <password>{{ clickhouse_replication_password }}</password>
            {% endif %}
          </replica>
{% endfor %}
        </shard>
{% endfor %}
    </{{ cluster_name }}>
{% endfor %}
  </remote_servers>
</yandex>
